
<h1>Spots#index</h1>
<p>Find me in app/views/spots/index.html.erb</p>

<%= render 'form' %>



<ul class="list-all-results">
  <% if params.count > 2 %>
    <% @search_results[2][1].each do |result| %>

      <li><%= result['name'] %></li>
      <li><%= result['phone'] %></li>
      <li><%= result['location'] %></li>
      <li>
        <% result['categories'].each_with_index  do |category, index| %>
          <%= category.first %>
          <%= "|" unless index == result['categories'].count - 1 %>
        <% end %>
      </li>
      <li><%= result['is_closed'] %></li>
      <li><%= result['location'] %></li>
      <li><%= result['rating'] %></li>
    <% end %>
  <% end %>
</ul>
