<% if @menu_items %>
  <div class="small-4 columns food-search-container-fixed">
    <div class="small-12 columns row side-content-container">
      <ul>
        <iframe
          class="google-maps"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/directions?key=<%= ENV['GOOGLE_MAPS_KEY'] %>
          &origin=33+Harrison Ave+Chinatown+MA
          &destination=60+Northern Ave.+Boston+MA+02113
          &avoid=tolls|highways">
        </iframe>
      <ul>
    </div>
  </div>

  <div class="small-4 columns food-search-container-relative">
    <ul class="accordion" data-accordion>
      <% @menu_items.each_with_index do |item, index| %>
        <% restaurant = item.restaurant %>
        <% street_address = "#{restaurant.street_number} #{restaurant.street_name.street_name}" %>
        <% city = restaurant.postal_code.city.city %>
        <% state_code = restaurant.postal_code.city.state_code.state_code %>
        <% postal_code = restaurant.postal_code.postal_code %>
        <% full_address = "#{street_address} #{city}, #{state_code} #{postal_code}" %>

        <% if index == 0 %>
          <li class="accordion-navigation">
            <a href="#panel<%= index %>a"><%= "#{item.restaurant.name}: #{item.menu_item}
                                              | #{item.price}" %></a>

            <div id="panel<%= index %>a" class="content active">
              <span class="restaurant_address"><%= full_address %></span>

              <% if current_user %>
                <span hidden class="item-info"><%= "#{current_user.id}, #{item.restaurant.name.gsub(':', '')}, #{item.id}" %></span>
              <% end %>

              <div class="accordion-icon-container">
                <span><a data-remote="true" href="#"><i </a></i></span>
                <span><a data-remote="true" href="#"><i class="fi-plus accordion-icon"></a></i></span>
              </div>
            </div>
          </li>

        <% else %>

          <li class="accordion-navigation">
            <a href="#panel<%= index %>a"><%= "#{item.restaurant.name}: #{item.menu_item}
                                              | #{item.price}" %></a>
            <div id="panel<%= index %>a" class="content">
              <span class="restaurant_address"><%= full_address %></span>

              <% if current_user %>
                <span hidden class="item-info"><%= "#{current_user.id}, #{item.restaurant.name.gsub(':', '')}, #{item.id}" %></span>
              <% end %>

              <div class="accordion-icon-container">
                <span><a data-remote="true" href="#"><i class="fi-plus accordion-icon"></a></i></span>
              </div>
            </div>
          </li>

        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="small-4 columns food-search-container-fixed">
    <div class="small-12 columns row side-content-container">
      <ul>
        <li class="side-content item-1">
          <h3><%= @food_search_string %></h3></br></br>
        </li>
      <ul>
    </div>

    <div class="small-12 columns row side-content-container">
      <ul>
        <em><h3>Other Popular Searches in the area include:</h3></em></li>
        <li class="side-content item-2">
          <ul>
            <% @most_popular_searches.each do |search| %>
              <li class="popular-searches"><h4><%= "#{search.search_term}: #{search.total_search_count}" %></h4></li>
            <% end %>
          </ul>
        </li>
      <ul>
    </div>
    <div class="small-12 columns row side-content-container">
      <ul>
        <li class="side-content item-3">
        </li>
      <ul>
    </div>

    <div class="small-12 columns row side-content-container">
    </div>
  </div>
<% end %>
