<div class="top-row-container">
  <ul>
    <li class="has-form">
      <div class="row collapse">
        <%= form_for @spot, url: url_for(controller: 'food_searches', action: 'create') do |f| %>

          <div class="small-6 large-6 columns", id="food_search_term">
            <%= f.label :search_term, name: "term", class: 'hidden-form' %>
            <%= f.text_field :search_term, class: 'form-control', autofocus: true, placeholder: "What're you craving today?" %>
          </div>
          <div class="small-6 large-6 columns" id="food_search_location">
            <%= f.label :search_location, name: "term", class: 'hidden-form' %>
            <% if current_user && current_user.last_search_location %>
              <%= f.text_field :search_location, class: 'form-control', value: current_user.last_search_location, placeholder: 'Street, City, State or Place, State' %>
            <% else %>
              <%= f.text_field :search_location, class: 'form-control', autofocus: true, placeholder: 'Street, City, State or Place, State' %>
            <% end %>
          </div>
          <div class="small-12 large-12 columns">
            <%= f.submit "Feed Your Need", class: 'button small alert' %>
          </div>
        <% end %>
      </div>
    </li>
  </ul>
</div>
<div class="middle-row-container">
  <% if @trends %>
    <h3>Trending Searches in Boston:</h3>

    <div class="trend-carousel">
      <% @trends.each do |trend| %>
        <div>
          <ul>
            <li>
                <%= trend.search_term %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

