<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar">
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">

            <li class="top-bar-alert"><%= link_to "Home", root_path %></li>

            <% if current_user %>

              <li class="has-dropdown">

                <%= link_to current_user.email, '#', "data-dropdown" => "hover1", "data-options" => "is_hover:true; hover_timeout:5000" %>

                <ul class="dropdown">
                  <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                </ul>

              </li>

            <% else %>
              <li class="top-bar-alert"><%= link_to "Sign Up", new_user_registration_path %></li>
              <li class="top-bar-alert"><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>

          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="name">
              <%= link_to "Jump!", root_path %>
            </li>

            <li class="has-form">
              <div class="row collapse">

                <% if params[:food_search] %>
                  <%= form_for @spot, url: url_for(controller: 'food_searches', action: 'create') do |f| %>

                    <div class="large-5 small-9 columns">
                      <%= f.text_field :search_term, class: 'form-control', autofocus: true, placeholder: "What're you craving today?" %>
                    </div>
                    <div class="large-5 small-9 columns">
                      <%= f.text_field :search_location, class: 'form-control', autofocus: true, placeholder: 'And where are you?' %>
                    </div>
                    <div class="large-2 small-3 columns">
                      <%= f.submit "Feed Your Need", class: 'button small alert topbar', id: 'top-bar-submit' %>
                    </div>

                  <% end %>
                <% end %>
              </div>
            </li>

          </ul>
        </section>
      </nav>

    </div>

    <div class="main-heading">
      <h1 class="main-title">Just Jump!</h1>
    </div>

    <% if flash.any? %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <% end %>

    <div class="main-body-container small-12 columns">
      <ul>
        <% if params[:controller] == 'food_searches' && !params[:food_search]%>
          <li class="has-form">
            <div class="row collapse">
                <%= form_for @spot, url: url_for(controller: 'food_searches', action: 'create') do |f| %>

                  <div class="large-6 small-9 columns">
                    <%= f.text_field :search_term, class: 'form-control', autofocus: true, placeholder: "What're you craving today?" %>
                  </div>
                  <div class="large-6 small-9 columns">
                    <%= f.text_field :search_location, class: 'form-control', autofocus: true, placeholder: 'And where are you?' %>
                  </div>
                  <div class="large-12 small-3 columns">
                    <%= f.submit "Feed Your Need", class: 'button small alert' %>
                  </div>
                <% end %>
            </div>
          </li>
        <% end %>
      </ul>

      <%= yield %>

    </div>
  </body>
</html>
