<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="sticky">
      <nav class="top-bar">
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">

            <li class="active"><%= link_to "Home", spots_path %></li>
            <li class="has-dropdown">
              <a href="#">Right Button Dropdown</a>
              <ul class="dropdown">
                <li><a href="#">First link in dropdown</a></li>
                <li class="active"><a href="#">Active link in dropdown</a></li>
              </ul>
            </li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="name">
              <h1><%= link_to "Let's Eat", spots_path %></h1>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="main-heading">
      <h1>Let's Eat</h1>
    </div>
    <div class="search-form-area">
      <ul class="search-form">
        <%= form_tag(spots_path, method: "get") do %>
          <li class="search-label">
            <%= label_tag :menu_item %>
            <%= search_field_tag :menu_item, nil, placeholder: "Find Your Food" %>
          </li>
          <li class="search-label">
            <%= label_tag :location %>
            <%= search_field_tag :location, nil, placeholder: "Enter City" %>
          </li>
          <li class="search-submit">
            <%= submit_tag "Find Your Food" %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= yield %>

  </body>
</html>
