<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Just Jump!" %></title>



    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar">
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">


            <% if current_user %>

              <li class="top-bar-alert"><%= link_to "View Your Foods", user_menu_items_path(current_user) %></li>

              <li>
                <a href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:5000"><%= current_user.email %></a></li>

              <ul id="hover1" class="f-dropdown" data-dropdown-content>
                <li><%= link_to 'View Profile', '' %></li>
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
              </ul>

            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>

          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="name", id="jump-border">
              <%= link_to "Let's Eat!", root_path %>
            </li>

            <li class="has-form">
              <div class="row collapse">
                <% if params[:action] != 'new' && params[:controller] = 'food_searches' %>
                  <%= form_for @spot, url: url_for(controller: 'food_searches', action: 'create') do |f| %>

                    <div class="large-5 small-9 columns">
                      <%= f.text_field :search_term, class: 'form-control', autofocus: true, placeholder: "What're you craving today?" %>
                    </div>
                    <div class="large-5 small-9 columns">
                      <% if current_user && current_user.last_search_location %>
                        <%= f.text_field :search_location, class: 'form-control', value: current_user.last_search_location, placeholder: 'Street, City, State or Place, State' %>
                      <% else %>
                        <%= f.text_field :search_location, class: 'form-control', autofocus: true, placeholder: 'Street, City, State or Place, State' %>
                      <% end %>
                    </div>
                    <div class="large-2 small-3 columns">
                      <%= f.submit "Feed Your Need", class: 'button small alert topbar', id: 'top-bar-submit' %>
                    </div>

                  <% end %>
                <% end %>
              </div>
            </li>

          </ul>
        </section>
      </nav>

    </div>

    <div class="main-heading">
      <h1 class="main-title">Let's Eat!</h1>
    </div>

    <div class="main-body-container small-12 columns">
      <%= yield %>
    </div>

   <%= javascript_include_tag 'application' %>
  </body>
</html>
